<div class="feature-view">
    <ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-create" [titlebarTitle]="title" [titlebarRouterToReturnOnClose]="returnRoute"></ndd-ng-titlebar>

    <div class="feature-view-tab__content">
        <form (ngSubmit)="onSubmit()" [formGroup]="formModel" class="form">
            <div class="col-sm-6">
                <!-- #region Coluna 1 -->
                <div class="row">
                    <div class="col-sm-12">
                        <span class="feature-view__title">Dados Cadastrais</span>
                    </div>
                </div>
                <div class="col-sm-12">

                    <div class="row feature-view__group">
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="nomeRazaoSocial" [class.form__label--error]="formModel.get('nomeRazaoSocial').hasError('required') && formModel.get('nomeRazaoSocial').touched">Nome
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="nomeRazaoSocial" type="text" id="nomeRazaoSocial" class="form__input"
                                    placeHolder="Digite sua razão social" maxlength="50" [class.form__input--error]="formModel.get('nomeRazaoSocial').hasError('required') && formModel.get('nomeRazaoSocial').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('nomeRazaoSocial').hasError('required') && formModel.get('nomeRazaoSocial').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row feature-view__group">
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="inscricaoestadual" [class.form__label--error]="formModel.get('inscricaoestadual').hasError('required') && formModel.get('inscricaoestadual').touched">Inscricao
                                    Estadual
                                </label>
                            </div>
                            <div>
                                <input formControlName="inscricaoestadual" type="number" id="inscricaoestadual" class="form__input"
                                    placeHolder="Digite sua inscrição estadual" [class.form__input--error]="formModel.get('inscricaoestadual').hasError('required') && formModel.get('inscricaoestadual').touched">
                                <span class="form__label form__label--error">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="inscricaomunicipal" [class.form__label--error]="formModel.get('inscricaomunicipal').hasError('required') && formModel.get('inscricaomunicipal').touched">Inscricao
                                    Municipal
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="inscricaomunicipal" type="number" id="inscricaomunicipal" class="form__input"
                                    placeHolder="Digite a sua inscrição municipal" [class.form__input--error]="formModel.get('inscricaomunicipal').hasError('required') && formModel.get('inscricaomunicipal').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('inscricaomunicipal').hasError('required') && formModel.get('inscricaomunicipal').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="numerodocumento" [class.form__label--error]="formModel.get('numerodocumento').hasError('required') && formModel.get('numerodocumento').touched">CPF/CNPJ
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="numerodocumento" type="text" id="numerodocumento" class="form__input"
                                    placeHolder="digite seu numero de documento" [class.form__input--error]="formModel.get('numerodocumento').hasError('required') && formModel.get('numerodocumento').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('numerodocumento').hasError('required') && formModel.get('numerodocumento').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="feature-view__title">Endereço</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row feature-view__group">
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="logradouro" [class.form__label--error]="formModel.get('logradouro').hasError('required') && formModel.get('logradouro').touched">Logradouro
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="logradouro" type="text" id="logradouro" class="form__input"
                                    placeHolder="Digite seu logradouro" [class.form__input--error]="formModel.get('logradouro').hasError('required') && formModel.get('logradouro').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('logradouro').hasError('required') && formModel.get('logradouro').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="bairro" [class.form__label--error]="formModel.get('bairro').hasError('required') && formModel.get('bairro').touched">Bairro
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="bairro" type="text" id="bairro" class="form__input" placeHolder="Digite seu bairro"
                                    [class.form__input--error]="formModel.get('bairro').hasError('required') && formModel.get('bairro').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('bairro').hasError('required') && formModel.get('bairro').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="numero" [class.form__label--error]="formModel.get('numero').hasError('required') && formModel.get('numero').touched">Número
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="numero" type="number" id="numero" class="form__input"
                                    placeHolder="Digite seu numero" [class.form__input--error]="formModel.get('numero').hasError('required') && formModel.get('numero').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('numero').hasError('required') && formModel.get('numero').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="municipio" [class.form__label--error]="formModel.get('municipio').hasError('required') && formModel.get('municipio').touched">Município
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="municipio" type="text" id="municipio" class="form__input"
                                    placeHolder="Digite seu município" [class.form__input--error]="formModel.get('municipio').hasError('required') && formModel.get('municipio').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('municipio').hasError('required') && formModel.get('municipio').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 feature-view__body">
                            <div>
                                <label class="form__label" for="estado" [class.form__label--error]="formModel.get('estado').hasError('required') && formModel.get('estado').touched">Estado
                                    <span class="form__label form__label--required">*</span>
                                </label>
                            </div>
                            <div>
                                <input formControlName="estado" type="text" id="estado" class="form__input"
                                    placeHolder="Digite seu estado" [class.form__input--error]="formModel.get('estado').hasError('required') && formModel.get('estado').touched">
                                <span class="form__label form__label--error" *ngIf="formModel.get('estado').hasError('required') && formModel.get('estado').touched">
                                    Campo Obrigatório
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="feature-view__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" type="submit" [disabled]="formModel.invalid">Salvar</button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Cancelar</button>
    </div>

    <div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
    <div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>
</div>